*.sw?
node_modules
dist
.vimrc
tags
ctags_exclude
.env
.env.*
test/*.gs
elm-stuff
.parcel-cache
.venv
plugins/*
plugins_iknaio/*
plugins_empty/*
!plugins/EMPTY
config/Config.elm*
!config/Config.elm.tmp
codegen/config/Config.elm
testdata
elm.js
conv
src/sw.mjs
.ctags_ignore
.tags
generated
theme/Theme
# ignore elm.json for it's generated at build time from elm.json.base via generate.js
elm.json
!codegen/elm.json
.idea
.vscode/
test_addresses.txt
