*.sw?
node_modules
dist
.vimrc
tags
ctags_exclude
.env
test/*.gs
elm-stuff
.parcel-cache
.venv
plugins/*
!plugins/EMPTY
plugin_generated/*
!plugin_generated/index.js
config/Config.elm
testdata
elm.js
conv
src/sw.mjs
