/* 1. COLOURS */

.white-text {
  color: #ffffff!important;
}

.red-background {
  background-color: #F44336 !important;
}

.red-text {
  color: #F44336 !important;
}


.green-text {
  color: #388e3c !important;
}

.green-background {
  background-color: #388e3c!important;
}

.light-green-background {
  background-color: #81c784!important;
}


.grey-background {
  background-color: #9e9e9e!important;
}


.purple-background {
  background-color: #ba68c8!important;
}

.orange-background {
  background-color: #FFAE66!important;
}

.blue-background {
  background-color: #2196f3!important;
}

.brown-background {
  background-color: #795548!important;
}


/* 2. GENERAL LAYOUT */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

main  {
  padding-top: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* 3. NAVBAR */

.navbar-brand {
  float: left;
  height: 40px;
  padding: 5px 5px;
  font-size: 18px;
  line-height: 10px;
}

.navbar-right {
  margin-right: 0px;
}



/* 4. MAIN CONTENTS */

.splash-image {
  background: #ffffff url("/static/img/graphsense_background.jpg") no-repeat center top;
  height: 500px;
}

.jumbotron .container {
    max-height: 100%;
}

.jumbotron-link {
  color: white;
}

.jumbotron-link:hover {
  color: orange;
}

.panel table {
  font-size: 13px;
  /*margin-left: 10px;*/
}

div#graph-control {
  margin-top: 20px;
}



/* 5. FOOTER */

footer > .container-fluid {
  padding: 15px;
  margin: auto;
}



/* 6. FLEX ALIGNMENT */

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */

  display: flex;
  align-items: center;
}

.top-buffer { margin-top: 60px; }



/* 7. D3 GRAPH VISUALIZATION */

.arrow {
    stroke: #9e9e9e;
    fill: #9e9e9e;
}

.links path {
    stroke: #9e9e9e;
}

.nodes circle {
  pointer-events: all;
  stroke: #9e9e9e;
  stroke-width: 3px;
}

.nodes text {
  fill: #424242;
  font-size: 10px;
}


.nodes circle.address {
  stroke: #1b5e20;
}

.nodes circle.address.anonymous {
  fill: #9e9e9e;
}

.nodes circle.address.tagged {
  fill: #388e3c;
}

.nodes circle.address.implicitlyTagged {
  fill: #81c784;
}


.nodes circle.cluster {
  stroke: #4a148c;
}

.nodes circle.cluster.anonymous {
  fill: #9e9e9e;
}

.nodes circle.cluster.tagged {
  fill: #e1bee7;
}


.nodes circle.focusnode {
  stroke: #d50000;
}

.nodes circle.marker {
  fill: #e040fb;
  stroke: #e040fb;
}

/* 8. TABLES */

.detail-table {
  padding-top: 10px;
}

button[id^='custom-button-']{
  margin: 5px;
}

/* datatables buttons container */
div#trx-table-buttons {
  padding-top: 10px;
    margin: 0px;
    text-align: right;
}

/* hide button texts of generated datatables buttons */
a.buttons-copy span, a.buttons-print span, a.buttons-csv span {
    display: none;
    margin: 5px;
}

/* 9. DROPDOWN MENU */

#dropdown {
  width: 403px;
}

#dropdown .dropdown-menu-category-item {
  padding-left: 10px;
}

#dropdown .dropdown-menu-item {
  padding-left: -40px;
  list-style-type: none;
}


/* 10. SELECT BOXES */

select#currency-switcher {
  margin: 10px;
  width: 100px !important;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E");
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

select#currency-switcher::-ms-expand {
  display: none;
}
