module Plugin.Update exposing (..)

{{#plugins}}
import {{package}}.Interface.Update
import {{package}}.Model
import {{package}}.Msg
{{/plugins}}
import Config.Update as Update
import Maybe.Extra
import Plugin.Model
import Plugin.Msg
import PluginInterface.Msg
import PluginInterface.Update
import Set exposing (Set)
import Tuple3 as T3


n m =
  (m, [], Cmd.none)

update : Update.Config -> Plugin.Msg.Msg -> Plugin.Model.ModelState -> ( Plugin.Model.ModelState, List Plugin.Msg.OutMsg, Cmd Plugin.Msg.Msg )
update uc msg state =
    case msg of
        Plugin.Msg.NoOp ->
            ( state, [], Cmd.none ){{#plugins}} 

        Plugin.Msg.{{package}}Msg m ->
            Maybe.map2
                (\upd st ->
                    upd uc m st
                        |> T3.mapFirst (\s -> { state | {{name}} = Just s })
                        |> T3.mapSecond (List.map (PluginInterface.Msg.mapOutMsg "{{name}}" Plugin.Msg.{{package}}Msg Plugin.Msg.{{package}}AddressMsg Plugin.Msg.{{package}}EntityMsg))
                        |> T3.mapThird (Cmd.map Plugin.Msg.{{package}}Msg)
                )
                {{package}}.Interface.Update.plugin.update
                state.{{name}}
                |> Maybe.withDefault ( state, [], Cmd.none ){{/plugins}} 


shallPushHistory : Plugin.Msg.Msg -> Bool
shallPushHistory msg =
    case msg of
        Plugin.Msg.NoOp ->
            ( False ){{#plugins}}

        Plugin.Msg.{{package}}Msg m ->
            {{package}}.Interface.Update.plugin.shallPushHistory
                |> Maybe.map
                    (\upd ->
                        upd m)
                |> Maybe.withDefault ( False ){{/plugins}}


updateByCoreMsg : Update.Config -> Plugin.Model.ModelState -> PluginInterface.Msg.InMsg -> ( Plugin.Model.ModelState, List Plugin.Msg.OutMsg, Cmd Plugin.Msg.Msg )
updateByCoreMsg uc state msg =
    let
        updateFns = {{#plugins}} (\currentState cEffects cmds ->
                                Maybe.map2
                                    (\upd st ->
                                        upd uc msg st
                                            |> T3.mapFirst (\s -> { currentState | {{name}} = Just s })
                                            |> T3.mapSecond ((List.map (PluginInterface.Msg.mapOutMsg "{{name}}" Plugin.Msg.{{package}}Msg Plugin.Msg.{{package}}AddressMsg Plugin.Msg.{{package}}EntityMsg)))
                                            |> T3.mapSecond ((++) cEffects)
                                            |> T3.mapThird (Cmd.map Plugin.Msg.{{package}}Msg)
                                            |> T3.mapThird (\pluginCmds -> Cmd.batch [pluginCmds, cmds])
                                    )
                                    {{package}}.Interface.Update.plugin.updateByCoreMsg
                                    currentState.{{name}}
                                |> Maybe.withDefault ( currentState, cEffects, cmds )
                        )::                
                        {{/plugins}} []


        step f acc =
                let
                    (s, eff, cmds) = acc
                in
                    f s eff cmds
    in
        List.foldl step (state, [], Cmd.none) updateFns
        

updateAddress : Plugin.Msg.AddressMsg -> { a | plugins : Plugin.Model.AddressState } -> { a | plugins : Plugin.Model.AddressState }
updateAddress msg address =
    {{^plugins}}address{{/plugins}}{{#plugins.length}}case msg of{{#plugins}} 
        Plugin.Msg.{{package}}AddressMsg m ->
            Maybe.map2
                (\upd st ->
                    { address
                        | plugins =
                            address.plugins
                                |> (\pl ->
                                        { pl
                                            | {{name}} = upd m st |> Just
                                        }
                                   )
                    }
                )
                {{package}}.Interface.Update.plugin.updateAddress
                address.plugins.{{name}}
                |> Maybe.withDefault address{{/plugins}}{{/plugins.length}}


updateByUrl : Plugin.Model.PluginType -> Update.Config -> String -> Plugin.Model.ModelState -> ( Plugin.Model.ModelState, List Plugin.Msg.OutMsg, Cmd Plugin.Msg.Msg )
updateByUrl ns uc url state =
    {{^plugins}}n state{{/plugins}}{{#plugins.length}}case ns of{{#plugins}} 
        Plugin.Model.{{package}} ->
            Maybe.map2
                (\upd st ->
                    upd uc url st
                        |> T3.mapFirst (\s -> { state | {{name}} = Just s })
                        |> T3.mapSecond (List.map (PluginInterface.Msg.mapOutMsg "{{name}}" Plugin.Msg.{{package}}Msg Plugin.Msg.{{package}}AddressMsg Plugin.Msg.{{package}}EntityMsg))
                        |> T3.mapThird (Cmd.map Plugin.Msg.{{package}}Msg)
                )
                {{package}}.Interface.Update.plugin.updateByUrl
                state.{{name}}
                |> Maybe.withDefault ( state, [], Cmd.none )
{{/plugins}} 
{{/plugins.length}} 


init : Plugin.Model.Flags -> ( Plugin.Model.ModelState, List Plugin.Msg.OutMsg, Cmd Plugin.Msg.Msg )
init flags =
    {{^plugins}}n {}{{/plugins}}{{#plugins.length}}let
{{#plugins}}
        {{name}} =
            {{package}}.Interface.Update.plugin.init
                |> Maybe.map (\init_ -> init_ flags.{{name}})

{{/plugins}} 
    in
    ( { {{#plugins}}{{name}} = Maybe.map T3.first {{name}}
      {{^last}}, {{/last}}{{/plugins}}
      }
    , [ {{#plugins}}Maybe.map T3.second {{name}}
            |> Maybe.withDefault []
            |> List.map (PluginInterface.Msg.mapOutMsg "{{name}}" Plugin.Msg.{{package}}Msg Plugin.Msg.{{package}}AddressMsg Plugin.Msg.{{package}}EntityMsg)
      {{^last}}, {{/last}}{{/plugins}}
      ]
        |> List.concat
    , [ {{#plugins}}Maybe.map T3.third {{name}}
            |> Maybe.withDefault Cmd.none
            |> Cmd.map Plugin.Msg.{{package}}Msg
      {{^last}}, {{/last}}{{/plugins}}
      ]
        |> Cmd.batch
    )
{{/plugins.length}} 


initAddress : Plugin.Model.AddressState
initAddress =
    { {{#plugins}}{{name}} =
        {{package}}.Interface.Update.plugin.initAddress
    {{^last}}, {{/last}}{{/plugins}}
    }


clearSearch : Plugin.Model.ModelState -> Plugin.Model.ModelState
clearSearch states =
    {{^plugins}}states{{/plugins}}{{#plugins.length}}let
{{#plugins}}
        {{name}} =
            Maybe.map2
                (\fun state -> fun state)
                {{package}}.Interface.Update.plugin.clearSearch
                states.{{name}}
                |> Maybe.Extra.orElse states.{{name}}
{{/plugins}} 
    in
    { states
        | {{#plugins}}{{name}} = {{name}}
        {{^last}}, {{/last}}{{/plugins}}
    }
{{/plugins.length}} 


updateApiKeyHash : String -> Plugin.Model.ModelState -> ( Plugin.Model.ModelState, List Plugin.Msg.OutMsg, Cmd Plugin.Msg.Msg )
updateApiKeyHash apiKeyHash state =
    {{^plugins}}n state{{/plugins}}{{#plugins.length}}let
{{#plugins}}
        {{name}} =
            Maybe.map2
                (\fun model ->
                    fun apiKeyHash model
                        |> T3.mapSecond (List.map (PluginInterface.Msg.mapOutMsg "{{name}}" Plugin.Msg.{{package}}Msg Plugin.Msg.{{package}}AddressMsg Plugin.Msg.{{package}}EntityMsg))
                        |> T3.mapThird (Cmd.map Plugin.Msg.{{package}}Msg)
                )
                {{package}}.Interface.Update.plugin.updateApiKeyHash
                state.{{name}}
                |> Maybe.Extra.orElse (Maybe.map n state.{{name}})
{{/plugins}} 
    in
    ( { state
        | {{#plugins}}{{name}} = Maybe.map T3.first {{name}}
        {{^last}}, {{/last}}{{/plugins}}
      }
    , [ {{#plugins}}Maybe.map T3.second {{name}} |> Maybe.withDefault [] 
      {{^last}}, {{/last}}{{/plugins}}
      ]
        |> List.concat
    , [ {{#plugins}}Maybe.map T3.third {{name}} |> Maybe.withDefault Cmd.none
      {{^last}}, {{/last}}{{/plugins}}
      ]
        |> Cmd.batch
    )
{{/plugins.length}} 


updateApiKey : String -> Plugin.Model.ModelState -> ( Plugin.Model.ModelState, List Plugin.Msg.OutMsg, Cmd Plugin.Msg.Msg )
updateApiKey apiKeyHash state =
    {{^plugins}}n state{{/plugins}}{{#plugins.length}}let
{{#plugins}}
        {{name}} =
            Maybe.map2
                (\fun model ->
                    fun apiKeyHash model
                        |> T3.mapSecond (List.map (PluginInterface.Msg.mapOutMsg "{{name}}" Plugin.Msg.{{package}}Msg Plugin.Msg.{{package}}AddressMsg Plugin.Msg.{{package}}EntityMsg))
                        |> T3.mapThird (Cmd.map Plugin.Msg.{{package}}Msg)
                )
                {{package}}.Interface.Update.plugin.updateApiKey
                state.{{name}}
                |> Maybe.Extra.orElse (Maybe.map n state.{{name}})
{{/plugins}} 
    in
    ( { state
        | {{#plugins}}{{name}} = Maybe.map T3.first {{name}}
        {{^last}}, {{/last}}{{/plugins}}
      }
    , [ {{#plugins}}Maybe.map T3.second {{name}} |> Maybe.withDefault [] 
      {{^last}}, {{/last}}{{/plugins}}
      ]
        |> List.concat
    , [ {{#plugins}}Maybe.map T3.third {{name}} |> Maybe.withDefault Cmd.none
      {{^last}}, {{/last}}{{/plugins}}
      ]
        |> Cmd.batch
    )
{{/plugins.length}} 


logout : Plugin.Model.ModelState -> ( Plugin.Model.ModelState, List Plugin.Msg.OutMsg, Cmd Plugin.Msg.Msg )
logout state =
    {{^plugins}}n state{{/plugins}}{{#plugins.length}}let
{{#plugins}}
        {{name}} =
            Maybe.map2
                (\fun model ->
                    fun model
                        |> T3.mapSecond (List.map (PluginInterface.Msg.mapOutMsg "{{name}}" Plugin.Msg.{{package}}Msg Plugin.Msg.{{package}}AddressMsg Plugin.Msg.{{package}}EntityMsg))
                        |> T3.mapThird (Cmd.map Plugin.Msg.{{package}}Msg)
                )
                {{package}}.Interface.Update.plugin.logout
                state.{{name}}
                |> Maybe.Extra.orElse (Maybe.map n state.{{name}})
{{/plugins}} 
    in
    ( { state
        | {{#plugins}}{{name}} = Maybe.map T3.first {{name}}
        {{^last}}, {{/last}}{{/plugins}}
      }
    , [ {{#plugins}}Maybe.map T3.second {{name}} |> Maybe.withDefault [] 
      {{^last}}, {{/last}}{{/plugins}}
      ]
        |> List.concat
    , [ {{#plugins}}Maybe.map T3.third {{name}} |> Maybe.withDefault Cmd.none
      {{^last}}, {{/last}}{{/plugins}}
      ]
        |> Cmd.batch
    )
{{/plugins.length}} 
