module Plugin.View exposing (..)

{{#plugins}}
import {{package}}.Model
import {{package}}.Msg
import {{package}}.Interface.View
{{/plugins}}
import Config.View as View
import Html.Styled as Html exposing (Html)
import Maybe.Extra
import Model
import Model.Pathfinder.Address as Pathfinder
import Msg.Pathfinder as Pathfinder
import Msg.Search as Search
import Plugin.Model
import Plugin.Msg
import PluginInterface.View
import Svg.Styled as Svg exposing (Svg)
import Tuple exposing (..)
import View.Pathfinder.ContextMenuItem as ContextMenuItem exposing (ContextMenuItem)
import Util.View


type alias Plugins =
    { {{#plugins}}{{name}} : PluginInterface.View.View {{package}}.Model.Model {{package}}.Model.AddressState {{package}}.Msg.Msg
    {{^last}}, {{/last}}{{/plugins}}
    }


addressContextMenu : Plugin.Model.ModelState -> View.Config -> Pathfinder.Address -> List (ContextMenuItem Pathfinder.Msg)
addressContextMenu states vc address =
    [ {{#plugins}}
        
            Maybe.map3
                (\fun ->
                    fun vc address
                )
                {{package}}.Interface.View.plugin.addressContextMenu
                states.{{name}}
                address.plugins.{{name}}
            |> Maybe.map (List.map (ContextMenuItem.map Plugin.Msg.{{package}}Msg))
    {{^last}}, {{/last}}{{/plugins}}
    ]
        |> List.filterMap identity
        |> List.concat
        |> List.map (ContextMenuItem.map Pathfinder.PluginMsg)



addressSidePanelHeader : Plugin.Model.ModelState -> View.Config -> Pathfinder.Address -> List (Html Pathfinder.Msg)
addressSidePanelHeader states vc address =
    [ {{#plugins}}
        Maybe.map3
            (\fun ->
                fun vc address
            )
            {{package}}.Interface.View.plugin.addressSidePanelHeaderWithPriority
            states.{{name}}
            address.plugins.{{name}}
          |> Maybe.Extra.join
          |> Maybe.map (\x -> {priority = x.priority, content = x.content |> Html.map Plugin.Msg.{{package}}Msg})
        |> Maybe.Extra.orElseLazy (\_ ->
                Maybe.map3
                    (\fun ->
                        fun vc address
                    )
                    {{package}}.Interface.View.plugin.addressSidePanelHeader
                    states.{{name}}
                    address.plugins.{{name}}
                |> Maybe.map (\x -> {priority = 0, content = x |> Html.map Plugin.Msg.{{package}}Msg})
        )
    {{^last}}, {{/last}}{{/plugins}}
    ]

        |> List.filterMap identity
        |> List.sortBy (.priority)
        |> List.reverse
        |> List.map (.content)
        |> List.map (Html.map Pathfinder.PluginMsg)

addressSidePanelHeaderTags : Plugin.Model.ModelState -> View.Config -> Pathfinder.Address -> List (Html Pathfinder.Msg)
addressSidePanelHeaderTags states vc address =
    [ {{#plugins}}
            Maybe.Extra.andThen3
                (\fun ->
                    fun vc address
                )
                {{package}}.Interface.View.plugin.addressSidePanelHeaderTags
                states.{{name}}
                address.plugins.{{name}}
            |> Maybe.map (Html.map Plugin.Msg.{{package}}Msg)
    {{^last}}, {{/last}}{{/plugins}}
    ]
        |> List.filterMap identity
        |> List.map (Html.map Pathfinder.PluginMsg)

addressNodeTagIcon: Plugin.Model.AddressState -> View.Config -> Pathfinder.Address -> List (Svg Pathfinder.Msg)
addressNodeTagIcon addressStates vc address =
    [ {{#plugins}}
            Maybe.map2
                (\fun ->
                    fun vc address
                )
                {{package}}.Interface.View.plugin.addressNodeTagIcon
                addressStates.{{name}}
            |> Maybe.Extra.join
            |> Maybe.map (Svg.map Plugin.Msg.{{package}}Msg)
    {{^last}}, {{/last}}{{/plugins}}
    ]
        |> List.filterMap identity
        |> List.map (Html.map Pathfinder.PluginMsg)


searchPlaceholder : View.Config -> List String
searchPlaceholder vc =
    [ {{#plugins}}
        {{package}}.Interface.View.plugin.searchPlaceholder
            |> Maybe.map (\f -> f vc)
    {{^last}}, {{/last}}{{/plugins}}
    ]
        |> List.filterMap identity


searchResultList : Plugin.Model.ModelState -> View.Config -> List (Html Search.Msg)
searchResultList states vc =
    [ {{#plugins}}
            Maybe.map2
                (\fun state ->
                    fun vc state
                )
                {{package}}.Interface.View.plugin.searchResultList
                states.{{name}}
            |> Maybe.map (List.map (Html.map Plugin.Msg.{{package}}Msg))
    {{^last}}, {{/last}}{{/plugins}}
    ]
        |> List.filterMap identity
        |> List.concat
        |> List.map (Html.map Search.PluginMsg)


sidebar : Plugin.Model.ModelState -> Model.Page -> View.Config -> List (Html Model.Msg)
sidebar states page vc =
    [ {{#plugins}}
            Maybe.map2
                (\fun ->
                    page
                        == Model.Plugin Plugin.Model.{{package}}
                        |> fun vc
                )
                {{package}}.Interface.View.plugin.sidebar
                states.{{name}}
            |> Maybe.map (List.map (Html.map Plugin.Msg.{{package}}Msg))
    {{^last}}, {{/last}}{{/plugins}}
    ]
        |> List.filterMap identity
        |> List.concat
        |> List.map (Html.map Model.PluginMsg)


contents : Plugin.Model.ModelState -> Plugin.Model.PluginType -> View.Config -> Maybe (List (Html Model.Msg))
contents states type_ vc =
    {{^plugins}}Nothing{{/plugins}}{{#plugins.length}}case type_ of{{#plugins}} 
        Plugin.Model.{{package}} ->
                Maybe.map2
                    (\fun ->
                        fun vc
                    )
                    {{package}}.Interface.View.plugin.contents
                    states.{{name}}
                |> Maybe.map (List.map (Html.map Plugin.Msg.{{package}}Msg))
                |> Maybe.map (List.map (Html.map Model.PluginMsg))
{{/plugins}}
{{/plugins.length}}


navbar : Plugin.Model.ModelState -> Plugin.Model.PluginType -> View.Config -> Maybe (List (Html Model.Msg))
navbar states type_ vc =
    {{^plugins}}Nothing{{/plugins}}{{#plugins.length}}case type_ of{{#plugins}} 
        Plugin.Model.{{package}} ->
                Maybe.map2
                    (\fun ->
                        fun vc
                    )
                    {{package}}.Interface.View.plugin.navbar
                    states.{{name}}
                |> Maybe.map (List.map (Html.map Plugin.Msg.{{package}}Msg))
                |> Maybe.map (List.map (Html.map Model.PluginMsg))
{{/plugins}}
{{/plugins.length}}


title : Plugin.Model.ModelState -> View.Config -> List String
title states vc =
    [ {{#plugins}}
            Maybe.map2
                (\fun ->
                    fun vc
                )
                {{package}}.Interface.View.plugin.title
                states.{{name}}
    {{^last}}, {{/last}}{{/plugins}}
    ]
        |> List.filterMap identity
        |> List.concat


pageTitle : Plugin.Model.ModelState -> Plugin.Model.PluginType -> View.Config -> List String
pageTitle states type_ vc =
    {{^plugins}}[]{{/plugins}}{{#plugins.length}}case type_ of{{#plugins}} 
        Plugin.Model.{{package}} ->
                Maybe.map2
                    (\fun ->
                        fun vc
                    )
                    {{package}}.Interface.View.plugin.pageTitle
                    states.{{name}}
                |> Maybe.withDefault []
{{/plugins}}
{{/plugins.length}}


profile : Plugin.Model.ModelState -> View.Config -> List (String, Html Model.Msg)
profile states vc =
    [ {{#plugins}}
            Maybe.map2
                (\fun ->
                    fun vc
                )
                {{package}}.Interface.View.plugin.profile
                states.{{name}}
            |> Maybe.map (List.map (mapSecond (Html.map Plugin.Msg.{{package}}Msg)))
    {{^last}}, {{/last}}{{/plugins}}
    ]
        |> List.filterMap identity
        |> List.concat
        |> List.map (mapSecond (Html.map Model.PluginMsg))


login : Plugin.Model.ModelState -> View.Config -> List (Html Model.Msg)
login states vc =
    [ {{#plugins}}
            Maybe.map2
                (\fun ->
                    fun vc
                )
                {{package}}.Interface.View.plugin.login
                states.{{name}}
            |> Maybe.map (List.map (Html.map Plugin.Msg.{{package}}Msg))
    {{^last}}, {{/last}}{{/plugins}}
    ]
        |> List.filterMap identity
        |> List.concat
        |> List.map (Html.map Model.PluginMsg)


dialog : Plugin.Model.ModelState -> View.Config -> Maybe (Html Model.Msg)
dialog states vc =
    Nothing
{{#plugins}}   
    |> Maybe.Extra.orElseLazy (\_ ->
            Maybe.map2
                (\fun ->
                    fun vc
                )
                {{package}}.Interface.View.plugin.dialog
                states.{{name}}
            |> Maybe.Extra.join
            |> Maybe.map (Html.map Plugin.Msg.{{package}}Msg)
    )
{{/plugins}}
    |> Maybe.map (Html.map Model.PluginMsg)


-- Additive, not first-wins: every plugin renders its own tooltip. A plugin's hook
-- cannot report "nothing to show" -- `Components.Tooltip.Model` is opaque, so the hook
-- returns `Just` whatever `Tooltip.view` gives it, which is an empty node while closed
-- -- so short-circuiting on the first `Just` silently swallowed the tooltips of every
-- plugin but the alphabetically first one.
tooltip : Plugin.Model.ModelState -> View.Config -> List (Html Model.Msg)
tooltip states vc =
    [ {{#plugins}}
            Maybe.map2
                (\fun ->
                    fun vc
                )
                {{package}}.Interface.View.plugin.tooltip
                states.{{name}}
            |> Maybe.Extra.join
            |> Maybe.map (List.map (Html.map Plugin.Msg.{{package}}Msg))
    {{^last}}, {{/last}}{{/plugins}}
    ]
        |> List.filterMap identity
        |> List.concat
        |> List.map (Html.map Model.PluginMsg)


pathfinderUpperLeftPanel : Plugin.Model.ModelState -> View.Config -> List (Html Pathfinder.Msg)
pathfinderUpperLeftPanel states vc =
    [ {{#plugins}}
            Maybe.map2
                (\fun ->
                    fun vc
                )
                {{package}}.Interface.View.plugin.pathfinderUpperLeftPanel
                states.{{name}}
            |> Maybe.map (Html.map Plugin.Msg.{{package}}Msg)
    {{^last}}, {{/last}}{{/plugins}}
    ]
        |> List.filterMap identity
        |> List.map (Html.map Pathfinder.PluginMsg)


getLegendIconItems: View.Config -> List ({ description : String, icon : Html Model.Msg, label : String })
getLegendIconItems vc =
    let
        mapItem wMsg {description, icon, label} = {description=description, icon = icon |> Html.map wMsg, label = label}
    in
    [ {{#plugins}}
        {{package}}.Interface.View.plugin.getLegendIconItems
            |> Maybe.map (\f -> f vc |> List.map (mapItem Plugin.Msg.{{package}}Msg))
    {{^last}}, {{/last}}{{/plugins}}
    ] 
    |> List.filterMap identity
    |> List.concat
    |> List.map (mapItem Model.PluginMsg)
