:root {
    /* THEME */
    /* --edtp-box-shadow:  0 2px 16px rgba(0, 0, 0, 0.15); */
    --edtp-box-shadow: 0px
    --edtp-border-radius-lg: 5px;
    --edtp-border-radius-default: 3px;
    --edtp-font-size-base: 1rem;
    --edtp-font-size-sm: 0.875rem;
    --edtp-font-size-xs: 0.75rem;
    --edtp-font-size-xxs: 0.625rem;
    --edtp-icon-button-size: 24px;
    --edtp-duration-calendars-gap: 1rem;
    --edtp-transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;

    --edtp-container-color: var(--c-black);
    --edtp-container-background-color: transparent;

    --edtp-header-text-color: var(--c-black);
    --edtp-header-chevron-color: var(--c-black);
    --edtp-header-chevron-background-color: transparent;
    --edtp-header-chevron-hover-color: var(--c-black);
    --edtp-header-chevron-hover-background-color: var(--c-greyLight);
    --edtp-header-week-color: var(--c-greyDarker);

    --edtp-day-size: 42px;
    --edtp-day-color: var(--c-black);
    --edtp-day-background-color: transparent;
    --edtp-day-hover-color: var(--c-black);
    --edtp-day-hover-background-color: var(--c-greyDarker);
    --edtp-day-between-color: var(--c-black);
    --edtp-day-between-background-color: var(--c-brandLight);
    --edtp-day-disabled-color: var(--c-greyDarker);
    --edtp-day-disabled-background-color: transparent;
    --edtp-day-picked-color: var(--c-white);
    --edtp-day-picked-background-color: var(--c-brandSketch);
    --edtp-day-today-color: var(--c-brandSketch);
    --edtp-day-today-background-color: transparent;

    --edtp-week-number-color: var(--c-textSecondary);
    --edtp-week-number-background-color: var(--c-greyLight);
    
    --edtp-footer-border-width: 1px;
    --edtp-footer-border-color: var(--c-greyDarker);
    --edtp-footer-color: var(--c-black);
    --edtp-footer-background-color: transparent;
    --edtp-footer-empty-color: var(--c-greyDarker);
    --edtp-footer-font-weight: normal;

    --edtp-footer-toggle-button-color: var(--c-brandSketch);
    --edtp-footer-toggle-button-background-color: transparent;
    --edtp-footer-toggle-button-hover-color: var(--c-brandSketch);
    --edtp-footer-toggle-button-hover-background-color: var(--c-greyLight);

    --edtp-footer-select-color: var(--c-black);
    --edtp-footer-select-background-color: var(--c-white);
    --edtp-footer-select-border-color: var(--c-greyDarker);
}