/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

html, body {
  @apply font-sans
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.header-height {
  height: 49px;
  max-height: 49px;
  min-height: 49px;
}

#layout-graph {
  height: calc(100vh - 49px);
}

#layout-browser, #layout-config {
  top: -300px;
  opacity: 0;
  transition: top 0.5s, opacity step-end 0.5s;
}

#layout-browser.show, #layout-config.show {
  top: 49px;
  opacity: 1;
  transition: top 0.5s, opacity step-start 0.5s;
}

.btn {
  @apply font-bold py-1 px-2 border rounded-sm cursor-pointer;
}

.btn-primary {
  @apply bg-white text-gs-dark;
}
.btn-primary:hover {
  @apply bg-gs-lighter;
}

.btn.disabled {
  @apply text-gs-light cursor-not-allowed;
}

.shadow-bottom {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1) 
}

.shadow-right {
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .1)
}

.layout-border {
  @apply border-grey-light
}

.navbar {
}

.nav-btn {
  @apply p-2 text-center text-gs-dark;
}

.nav-btn.disabled {
  @apply text-gs-light cursor-not-allowed;
}

.nav-btn:focus {
  outline: 0;
}

select, input {
  @apply rounded-sm shadow bg-grey-light px-1 pt-1;
}

.prop-table {
  @apply table border-collapse 
}
.prop-row {
  @apply table-row 
}

.prop-key {
  @apply font-bold table-cell pr-2 pb-1
}

.prop-value {
  @apply table-cell
}

.browser-component {
  /* height set via globals.js */
  @apply layout-border p-2 border-r h-full overflow-hidden
}

.browser-options {
  @apply h-full px-1 py-1 bg-grey-lighter text-center
}

li.option-active i {
  @apply text-gs-base
}

.browser-options-short {
  @apply layout-border border-r
}
.browser-options-short .option-text {
  display:none;
}

.white-shadow {
  box-shadow: 0 0 10px 0 rgba(255,255,255,0.5);
}

.search {
  /* for overlaying svg.slash */
  z-index: 100; 
}

.search-frame {
  width: 45ex;
  position: relative;
  @apply mr-1 white-shadow
}

.browser-search-input {
  @apply w-full h-full p-2 pb-1 rounded-tl-sm
}

#browser-search-result {
  position: absolute;
  z-index:200;
  @apply w-full p-2 rounded-b-sm  bg-white font-mono flex-initial shadow-md;
}

#browser-search-result li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#browser-search-result li:hover {
  @apply bg-gs-lighter
}

.browser-search-input:focus {
  outline: none;
}

svg.graph {
  @apply font-sans bg-grey-lightest
}

svg .addressNode {
  cursor: pointer;
}

svg .addressNodeRect{
  /* defined inline to allow for export in svg file */
}

svg .clusterNode {
  cursor: pointer;
}

svg .clusterNodeRect{
  /* defined inline to allow for export in svg file */
}

svg .selected > rect {
  stroke: red !important;
  stroke-width: 3px !important;
}

svg .expandHandlePath {
  /* defined inline to allow for export in svg file */
}

svg .selected .expandHandle > path {
  stroke: red !important;
  stroke-width: 3px !important;
}

svg .addressExpand {
  cursor: pointer;
}

svg .expandHandleText {
  @apply text-black fill-current
}

svg .expandHandle {
  cursor: pointer;
}

svg .expandHandleText:hover text {
  font-weight: bold;
}

svg .linkRect {
  fill: rgb(255,255,255);
  opacity: 0.8;
  stroke-width: 0px;
  stroke:black;
}

svg .linkText {
  fill: black;
  stroke-width: 0;
  cursor: default;
  font-weight: bold;
}

svg .linkPath {
  /* defined inline to allow for export in svg file */
}

svg .linkPathFrame {
  /* defined inline to allow for export in svg file */
}

svg .link:hover * {
  stroke: red !important;
}
svg .link:hover path {
  marker-end: url(#arrow1-red) !important;
}

svg .link:hover text {
  fill: red;
}

svg .shadow {
  @apply text-gs-dark;
  stroke: #71a1a5; /* gs-dark, defined plain to allow for export in svg file*/
  opacity: 0.2;
  stroke-width: 20px;
  fill: none;
}

svg .shadow:hover {
  opacity: 0.8;
}
div.dataTables_wrapper {
  position: relative;
}

div.dataTables_wrapper div.dataTables_info {
  position: absolute;
  bottom: 1px;
  z-index: 29;
  background: white;
  padding-top: 0;
  padding: 4px;
  font-size: 78%;
  box-shadow: 0px 0px 1px;
  right: 20px;
  border-radius: 3px;
  transition: opacity 0.3s;
  opacity: 1;
}

div.dataTables_wrapper div.dataTables_info:hover {
  opacity: 0.2;
}

table.dataTable thead th, table.dataTable thead td {
  @apply border-grey-light  
}

table.dataTable tbody tr {
  cursor: pointer;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0;
}

.searchwidth {
  width: 21em;
}

.dataTables_wrapper .dataTables_filter {
  text-align:left;
  float: left;
  margin-bottom: 5px;
  margin-left: 4px;
  background-color: white;
  position: absolute;
  z-index: 100;
  width: 20em;
}

.dataTables_wrapper .dataTables_filter label {
  font-weight: bold;
}

textarea {
  width : 99%;
  height : 5em;
  @apply border border-grey-light
}

.splash {
  height: 50vw;
  min-height: 320px;
  max-height: 600px;
  background-size: cover;
  background-image: url("img/background.jpg");
  background-position-x: 40%;
  background-position-y: 60%;
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
  @apply flex flex-col content-center justify-center items-center;
}

.splash-footer {
  background-color: #f3f3f3;
}

.splash .tagline {
  font-family: Conv_Octarine-Light;
  filter: drop-shadow(0 0 5px rgba(255,255,255,0.5));
}

a[href] {
  @apply text-black underline
}

a[href]:hover {
  @apply text-black no-underline
}

body {
  height: 100vh;
  overflow-x: hidden;
}

.page-header {
  max-width: 1920px;
  height: 200px;
  background-image: url("img/background-flipped.jpg");
  background-size: auto;
  background-position-y: 37%;
  background-repeat: no-repeat;
  background-color: black;
  @apply text-gs-light
}

svg.slash {
  height: 5vw;
  position: absolute;
  bottom: -1px;
  background-color: transparent;
  @apply w-screen;
}

svg.slash path {
  fill: white;
}

.splash .logo {
  filter: drop-shadow(0 0 20px rgba(0,0,0,0.8));
}

.splash .logo img {
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.8));
  @apply w-full
}

.supported-currencies h2 {
  font-family: Conv_Octarine-Bold;
  @apply pt-0 pb-6 w-full text-center text-gs-base text-3xl;
}

.currency {
  min-height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  @apply pb-4 px-10 mb-5
}

.currency h3 {
  font-family: Conv_Octarine-Light;
  @apply text-3xl w-auto text-center pt-2 pb-4 border-b border-gs-dark font-hairline;
}

.currency .statistics {
  @apply flex justify-center p-4
}

.currency.btc {
  background-image: url("img/bitcoin.svg");
}

.currency.ltc {
  background-image: url("img/litecoin.svg");
}

.currency.bch {
  background-image: url("img/bitcoin-cash.svg");
}

.currency.zec {
  background-image: url("img/zcash.svg");
}

.stats-table {
  @apply table border-collapse 
}
.stats-row {
  @apply table-row 
}

.stats-key {
  @apply font-bold table-cell pr-2 pt-2 text-right
}

.stats-value {
  @apply table-cell
}

.coming {
  @apply text-xl text-grey-dark pt-8
}

.static-page h2 {
  @apply mb-4 mt-6
}

.static-page p {
  @apply mb-3 mt-2
}

.static-page pre {
  @apply p-4 shadow-md border border-grey-light overflow-auto
}

.static-page img.example {
  @apply my-2 shadow-md
}

ul#log-messages {
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: height ease 0.5s;
}

ul#log-messages li {
  @apply pb-1
}

#layout-status.visible ul#log-messages {
  height : 15ex;
  overflow-y: scroll;
  @apply p-1
}

#layout-status #show {
  display: block;
}
#layout-status #hide {
  display: none;
}
#layout-status.visible #show {
  display: none;
}
#layout-status.visible #hide {
  display: block;
}

#layout-status #indicator {
  display: none;
}

#layout-status.loading #indicator {
  display: inline;
}
