/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

html, body {
  @apply font-sans
}

.header-height {
  height: 5vh;
}

#layout-graph {
  height: 95vh;
}

#layout-browser {
  top: -20vh;
  transition: top 0.5s;
}

#layout-browser.show-browser {
  top: 5vh;
}

.btn {
  @apply font-normal py-1 px-2 border;
}

.btn-primary {
  @apply bg-white text-black;
}
.btn-primary:hover {
  @apply bg-grey;
}

.shadow-bottom {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1) 
}

.shadow-right {
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .1)
}

.layout-border {
  @apply border-grey-light
}

.navbar {
}

.nav-btn {
  @apply p-2 text-center text-gs-dark
}

.prop-table {
  @apply table border-collapse 
}
.prop-row {
  @apply table-row 
}

.prop-key {
  @apply font-bold table-cell pr-2 pb-1
}

.prop-value {
  @apply table-cell
}

.browser-component {
  /* height set via globals.js */
  @apply layout-border p-2 border-r h-full overflow-hidden
}

.browser-options {
  @apply h-full px-1 py-1 bg-grey-lighter text-center
}

li.option-active i {
  @apply text-gs-base
}

.browser-options-short {
  @apply layout-border border-r
}
.browser-options-short .option-text {
  display:none;
}

.white-shadow {
  box-shadow: 0 0 10px 0 rgba(255,255,255,0.5);
}

.search-frame {
  width: 43ex;
  position: relative;
  @apply mr-1 white-shadow
}

.browser-search-input {
  @apply w-full h-full p-2 pb-1 rounded-tl-sm
}

#browser-search-result {
  position: absolute;
  z-index:200;
  @apply w-full p-2 rounded-b-sm  bg-white font-mono flex-initial shadow-md
}

#browser-search-result li:hover {
  @apply bg-gs-lighter
}

.browser-search-input:focus {
  outline: none;
}

.address-node-color {
  @apply text-grey-light
}

.cluster-node-color {
  @apply text-gs-light
}

svg {
  @apply font-sans
}

svg g.addressNode {
  cursor: pointer;
}

svg g.addressNode > rect{
  stroke: black;
  stroke-width: 1px;
  @apply address-node-color fill-current
}

svg g.addressNode text {
}

svg g.clusterNode {
  cursor: pointer;
}

svg g.clusterNode > rect{
  stroke: black;
  @apply cluster-node-color fill-current
}

svg g.clusterNode text {
}

svg g.clusterNode.mockup {
  opacity: 0;
}

svg g.selected > rect {
  stroke: red;
  stroke-width: 3px;
}

svg g.selected .expandHandle > path {
  stroke: red;
  stroke-width: 3px;
}

svg g.addressExpand {
  cursor: pointer;
}

svg g.addressExpand:hover text {
  font-weight: bold;
}

svg g.expandHandles text {
  @apply text-black fill-current
}

svg g.expandHandle {
  cursor: pointer;
}

svg g.expandHandle > path {
  stroke-width: 1px;
  stroke: black;
}

svg g.addressNode > g.expandHandles path{
  @apply address-node-color fill-current 
}
svg g.clusterNode > g.expandHandles path{
  @apply cluster-node-color fill-current
}

svg g.expandHandle:hover text {
  font-weight: bold;
}

svg g.removeHandle {
  visibility: hidden;
}

svg g.removeHandle > rect {
  @apply text-transparent fill-current
}

svg g.removeHandle > text {
  font-family: FontAwesome;
  @apply text-black fill-current
}

svg g.addressNode:hover g.removeHandle {
  visibility: visible;
}
svg g.clusterNode:hover g.removeHandle {
  visibility: visible;
}

svg g.link path {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

svg g.link rect {
  fill: rgba(255,255,255,0.8);
  stroke-width: 0px;
  stroke:black;
}

svg g.link text {
  fill: black;
  stroke-width: 0;
  cursor: default;
  font-weight: bold;
}

svg g.link:hover * {
  stroke: red;
}

svg g.link:hover text {
  fill: red;
}

svg g.link path.frame {
  stroke-width: 6px;
  opacity: 0;
}

svg .shadow {
  @apply text-gs-dark stroke-current;
  opacity: 0.2;
  stroke-width: 20px;
  fill: none;
}

svg .shadow:hover {
  opacity: 0.8;
}

div.dataTables_wrapper {
  position: relative;
}

div.dataTables_wrapper div.dataTables_info {
  position: absolute;
  bottom: 1px;
  z-index: 29;
  background: white;
  padding-top: 0;
  padding: 4px;
  font-size: 78%;
  box-shadow: 0px 0px 1px;
  right: 20px;
  border-radius: 3px;
  transition: opacity 0.3s;
  opacity: 1;
}

div.dataTables_wrapper div.dataTables_info:hover {
  opacity: 0.2;
}

table.dataTable thead th, table.dataTable thead td {
  @apply border-grey-light  
}

table.dataTable tbody tr {
  cursor: pointer;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0;
}


textarea {
  width : 99%;
  height : 5em;
  @apply border border-grey-light
}

.splash {
  height: 50vw;
  max-height: 600px;
  background-size: cover;
  background-image: url("../layout/background.jpg");
  background-position-x: 40%;
  background-position-y: 60%;
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
  @apply flex flex-col content-center justify-center items-center;
}

.splash .tagline {
  font-family: Conv_Octarine-Light;
  filter: drop-shadow(0 0 5px rgba(255,255,255,0.5));
  @apply m-8 w-3/5 text-white text-center;
}

body {
  height: 100vh;
}

svg.slash {
  height: 5vw;
  position: absolute;
  bottom: 0;
  @apply w-screen;
}

svg.slash path {
  fill: white;
}

.splash .logo {
  filter: drop-shadow(0 0 20px rgba(0,0,0,0.8));
  @apply w-2/5
}

.splash .logo img {
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.8));
  @apply w-full
}

.supported-currencies h2 {
  font-family: Conv_Octarine-Bold;
  @apply pt-4 pb-6 w-full text-center text-gs-base text-3xl;
}

.currencies {
  @apply flex justify-center flex-wrap;
}

.currency {
  min-height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  @apply pb-4 px-10 mb-5
}

.currency h3 {
  font-family: Conv_Octarine-Light;
  @apply text-3xl w-auto text-center pt-2 pb-4 border-b border-gs-dark font-hairline;
}

.currency .statistics {
  @apply flex justify-center p-4
}

.currency.btc {
  background-image: url("../layout/bitcoin.svg");
}

.currency.ltc {
  background-image: url("../layout/litecoin.svg");
}

.currency.bch {
  background-image: url("../layout/bitcoin-cash.svg");
}

.currency.zec {
  background-image: url("../layout/zcash.svg");
}

stats-table {
  @apply table border-collapse 
}
.stats-row {
  @apply table-row 
}

.stats-key {
  @apply font-bold table-cell pr-2 pt-2 text-right
}

.stats-value {
  @apply table-cell
}

.coming {
  @apply text-xl text-grey-dark pt-8
}
