/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

html, body {
  font-family:DIN-OT, Arial, Helvetica, sans-serif;
  color:#5c6f77;
  --black: config('colors.black');
  --red: config('colors.red');
  --grey-darkest: config('colors.grey-darkest');
  --grey-darker: config('colors.grey-darker');
  --grey-dark: config('colors.grey-dark');
  --grey: config('colors.grey');
  --grey-light: config('colors.grey-light');
  --grey-lighter: config('colors.grey-lighter');
  --grey-lightest: config('colors.grey-lightest');
  --white: config('colors.white');
  --gs-text: config('colors.gs-text');
  --gs-darker: config('colors.gs-darker');
  --gs-dark: config('colors.gs-dark');
  --gs-base: config('colors.gs-base');
  --gs-light: config('colors.gs-light');
  --gs-lighter: config('colors.gs-lighter');
  --gs-lightest: config('colors.gs-lightest');
  --gs-white: config('colors.white');
  --gs-red: config('colors.gs-red');
  --gs-red-light: config('colors.gs-red-light');
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.header-height {
  height: 49px;
  max-height: 49px;
  min-height: 49px;
}

#layout-config {
  transform: translateY(-110%);
  transition: transform 0.5s;
  right: 0;
}

#layout-config.show {
  transform: translateY(-1px);
}

#browser-data {
  left: 100%; 
  overflow: visible; 
  transform: translateY(-110%);
  transition: transform 0.5s;
  min-width: 440px;
}

#browser-data.show {
  transform: translateY(-1px);
}

.btn {
  @apply font-bold py-1 px-2 border rounded-sm cursor-pointer;
}

.btn:hover {
  @apply bg-gs-lighter;
}

.btn-primary {
  @apply bg-white text-gs-dark;
}

.btn-danger {
  @apply bg-gs-white text-gs-red;
}

.btn.disabled {
  @apply text-gs-light cursor-not-allowed;
}

.shadow-bottom {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1) 
}

.shadow-right {
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .1)
}

.layout-border {
  @apply border-grey-light
}

.navbar {
}

.nav-btn {
  @apply p-2 text-center text-gs-dark;
}

.nav-btn.disabled {
  @apply text-gs-light cursor-not-allowed;
}

.nav-btn:focus {
  outline: 0;
}

#browser-leftbar .nav-btn {
  @apply pb-0 pt-3;
}

select, input, textarea {
  outline: none;
  @apply rounded-sm text-sm shadow bg-grey-light px-1 pt-1;
}

.prop-table {
  @apply table border-collapse w-full;
}
.prop-row {
  @apply table-row pr-1
}

.prop-row:hover {
  @apply bg-grey-lighter
}

.prop-key {
  @apply font-bold table-cell pr-2 pb-1
}

.prop-value {
  @apply table-cell
}

.browser-component {
  /* height set via globals.js */
  @apply layout-border p-2 border-r;
  min-width: 440px;
}

.browser-options {
  @apply px-1 py-1 bg-grey-lighter text-center
}

.option-active svg {
  @apply text-gs-dark
}

.option-inline-wrapper {
  position: relative;
  width: 20px;
  display: table-cell;
  @apply pr-1;
}

.option-inline-wrapper svg.option-arrow {
  position: absolute;
  top: calc(50% - 8px);
  right: calc(config('padding.2') * -1 - 1px);
  width: 8px;
  height: 16px;
}

svg.option-arrow path {
  stroke-width: 1px;
  stroke: #e1e1e1;
  fill: white;
}

.browser-options-short {
  @apply layout-border border-r
}
.browser-options-short .option-text {
  display:none;
}

.white-shadow {
  box-shadow: 0 0 10px 0 rgba(255,255,255,0.5);
}

.search {
  /* for overlaying svg.slash */
  z-index: 100; 
}

.search-frame {
  position: relative;
  @apply mr-1 white-shadow
}

.browser-search-input {
  @apply w-full h-full p-2 pb-1 rounded-tl-sm
}

#browser-search-result {
  position: absolute;
  z-index:200;
  @apply w-full p-2 rounded-b-sm  bg-gs-white font-mono flex-initial shadow-md;
}

#browser-search-result li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#browser-search-result li:hover {
  @apply bg-gs-lighter
}

.browser-search-input:focus {
  outline: none;
}

svg.graph {
  @apply font-sans;
  --link-faded: var(--grey);
  --link-strong: var(--black);
  --link-highlight: var(--red);
  --graph-background: var(--grey-lightest);
  background-color: var(--graph-background);
}

svg .addressNode {
  cursor: pointer;
}

svg .addressNodeRect{
  /* defined inline to allow for export in svg file */
}

svg .entityNode {
  cursor: pointer;
}

svg .entityNodeRect{
  /* defined inline to allow for export in svg file */
}

svg .selected > rect {
  stroke: var(--red) !important;
  stroke-width: 3px !important;
}

svg .expandHandlePath {
  /* defined inline to allow for export in svg file */
}

svg .selected .expandHandle > path {
  stroke: var(--red) !important;
  stroke-width: 3px !important;
}

svg .addressExpand {
  cursor: pointer;
}

svg text {
  @apply text-black fill-current
}

svg .expandHandle {
  cursor: pointer;
}

svg .expandHandleText:hover text {
  @apply font-bold
}

svg .linkRect {
  fill: var(--graph-background);
  opacity: 0.8;
  stroke-width: 0px;
  stroke:black;
}

svg .linkText {
  fill: var(--link-faded);
  stroke-width: 0;
  cursor: pointer;
  @apply font-bold
}

svg .linkText.hover {
  fill: var(--link-strong);
}

svg .linkPath {
  stroke: var(--link-faded);
  marker-end: url(#arrow1-faded);
}

svg .linkPath.hover {
  stroke: var(--link-strong);
  marker-end: url(#arrow1-strong);
}

svg .link {
  cursor: pointer;
}

svg .link:hover *, svg .link.selected * {
  stroke: var(--link-highlight) !important;
}
svg .link:hover path, svg .link.selected path {
  marker-end: url(#arrow1-highlight) !important;
}

svg .link:hover text, svg .link.selected text {
  fill: var(--link-highlight);
}

svg .shadow {
  stroke: var(--gs-dark); /* gs-dark, defined plain to allow for export in svg file*/
  opacity: 0.2;
  stroke-width: 20px;
  fill: none;
}

svg .shadow:hover {
  opacity: 0.8;
}

svg .abuse {
  fill: var(--red);
}
div.dataTables_wrapper {
  position: relative;
}

div.dataTables_wrapper div.dataTables_info {
  position: absolute;
  bottom: 1px;
  z-index: 29;
  background: var(--gs-white);
  padding-top: 0;
  padding: 4px;
  font-size: 78%;
  box-shadow: 0px 0px 1px;
  right: 20px;
  border-radius: 3px;
  transition: opacity 0.3s;
  opacity: 1;
  color: var(--gs-text);
}

div.dataTables_wrapper div.dataTables_info:hover {
  opacity: 0.2;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: var(--first)
}

table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even {
  background-color: var(--second)
}

.dataTables_wrapper .dataTables_filter {
  color: var(--gs-text)
}

table.dataTable thead th, table.dataTable thead td {
  @apply border-grey-light  
}

table.dataTable.compact thead th, table.dataTable.compact thead td {
  @apply pt-0
}

table.dataTable tbody tr {
  cursor: pointer;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0;
}

div.DTS div.dataTables_scrollBody {
  --first: var(--grey-lightest);
  --second: var(--white);
  background:repeating-linear-gradient(45deg, var(--first), var(--first) 10px, var(--second) 10px, var(--second) 20px); 
  overflow-x: hidden;
}

table.dataTable thead th, table.dataTable tfoot th {
  @apply font-bold
}

.searchwidth {
  width: 21em;
}

.dataTables_wrapper .dataTables_filter {
  margin-bottom: 5px;
}

.dataTables_wrapper .dataTables_filter label {
  @apply font-bold;
}

.dataTables_wrapper .dt-buttons {
  display: none;
}

textarea {
  width : 99%;
  height : 5em;
  box-shadow: none;
  @apply bg-white border border-grey-light
}

.splash-top {
  background-size: cover;
  background-image: url("img/background_slim.jpg");
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
  text-align: center;
}

.splash-top > div {
  text-align: left;
  max-width: 1140px;
  margin:0 auto;
}

.splash-top .logo-container {
  padding:40px 0 20px 0;
  border-bottom:2px solid #fff;
}

.splash-top .logo-container img {
  height:55px;
}

.splash-top .tagline {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: baseline;
  padding:30px 0;
}

.splash-top .tagline h1, 
.splash-top .tagline h2 {
  padding:0;
  margin:0;
  color: #FFFFFF;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 45px;
  letter-spacing: -0.44px;
  text-shadow: 0px 0px 7px rgb(0, 0, 0, .44);
}

.splash-top .tagline h1 {
  font-size: 40px;
}

.splash-top .tagline h2 {
  font-size: 20px;
  text-align: right;
}

.splash .search {
  display:flex;
  justify-content:center;
}

.splash .search form {
  width:460px;
}

.splash .search form .search-frame {
  width:400px !important;
}

.splash .search form input {
  border:1px solid #5c6f77;
}

.splash-footer {
  background-color:#5C6F77;
  color:#fff;
  font-family:DIN-OT;
  font-size:15px;
  text-align:center;
}

.splash-footer > div {
  text-align: left;
  max-width: 1140px;
  margin: 0 auto;
}

.splash-footer img {
  height:55px;
}

.splash-footer a[href] {
  color:#fff;
  @apply no-underline
}

.splash .tagline {
  font-family: DIN-OT;
  filter: drop-shadow(0 0 5px rgba(255,255,255,0.5));
}

a[href]:hover {
  @apply underline
}

body {
  height: 100vh;
  overflow-x: hidden;
}

svg.slash {
  height: 5vw;
  position: absolute;
  bottom: -1px;
  background-color: transparent;
  @apply w-screen;
}

svg.slash path {
  fill: white;
}

.splash .logo {
  filter: drop-shadow(0 0 20px rgba(0,0,0,0.8));
}

.splash .logo img {
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.8));
  @apply w-full
}

.landingpage h2 {
  font-family: DIN-OT;
  font-weight: bold;
  @apply pt-0 pb-6 w-full text-center text-gs-base text-3xl;
  @apply mb-4 mt-6;
}

.currency {
  min-height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  @apply pb-4 px-10 mb-5
}

.currency h3 {
  font-family: DIN-OT;
  @apply text-3xl w-auto text-center pt-2 pb-4 border-b border-gs-dark font-hairline;
}

.currency .statistics {
  @apply flex justify-center p-4
}

.stats-table {
  @apply table border-collapse 
}
.stats-row {
  @apply table-row 
}

.stats-key {
  @apply font-bold table-cell pr-2 pt-2 text-right
}

.stats-value {
  @apply table-cell
}

.coming {
  @apply text-xl text-grey-dark pt-8
}


ul#log-messages {
  height: 0;
  padding: 0;
  overflow-y: hidden;
  transition: height ease 0.5s;
}

ul#log-messages li {
  @apply pb-1
}

#layout-status {
  transition: overflow-y step-start 0.5s;
}

#layout-status.visible ul#log-messages {
  height : 10rem;
  @apply p-1;
  overflow-y: scroll;
}

#layout-status #show {
  display: block;
}
#layout-status #hide {
  display: none;
}
#layout-status.visible #show {
  display: none;
}
#layout-status.visible #hide {
  display: block;
}

#layout-status #indicator {
  display: none;
}

#layout-status.loading #indicator {
  display: inline;
}

.unsupported-keyspace {
  @apply text-grey-dark cursor-not-allowed;
}
.unsupported-keyspace a[href] {
  @apply text-grey-dark;
}

div.d3-context-menu-theme,  .d3-context-menu-theme ul.is-children {
  @apply bg-grey-lighter shadow-md rounded border text-gs-text;
}

div.d3-context-menu-theme ul li.is-parent:after {
  border-top-color: var(--gs-red) 
}

.cursor-grab {
  cursor: grab;
}

.highlightColor {
  @apply mr-1 shadow rounded-sm;
  width: 20px;
  height: 20px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.highlightColor:hover, .highlightColor.current {
  @apply shadow-md;
  transform: scale(1.15)
}

.highlightWrapper {
  position: relative;
}

.note {
  @apply text-grey italic;
}
