{% extends "detail.html" %}
{% set nav_background_color = 'brown-background' %}

{% block header %}
{{ super() }}
<script language='javascript'>
  var height = '{{block['height']}}';
</script>
{% endblock %}


{% block detail_heading %}
<h3>Block <small>{{block.blockHash}}</small></h3>
{% endblock %}


{% block summary_panel %}
<tr>
  <td>Height</td>
  <td>{{ block.height }}</td>
</tr>
<tr>
  <td>Timestamp</td>
  <td>{{ block.timestamp | format_time}}</td>
</tr>
<tr>
  <td>No. Transactions</td>
  <td>{{ block.noTransactions }}</td>
</tr>
{% endblock %}

{% block tab_container %}
<!-- Nav tabs -->
<ul id="detail_tabs" class="nav nav-tabs">
  <li id="txs" class="active"><a href="#transactions">Transactions</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane" id="txs_tab">
    <div class="table-responsive detail-table">
      <table id="txs_table" class="table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="col-md-4">Transaction</th>
                    <th class="col-md-2">No. Inputs</th>
                    <th calls="col-md-2">No. Outputs</th>
                    <th class="col-md-2 currencyColumn btc">Fee</th>
                    <th class="col-md-2 currencyColumn eur">Fee</th>
                    <th class="col-md-2 currencyColumn usd">Fee</th>
                    <th class="col-md-2 currencyColumn btc">Total Value</th>
                    <th class="col-md-2 currencyColumn eur">Total Value</th>
                    <th class="col-md-2 currencyColumn usd">Total Value</th>
                </tr>
            </thead>
        </table>
      </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
{{ super() }}
<script src="{{ url_for('static', filename='js/detail_block.js') }}"></script>
{% endblock %}
