/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.btn {
  @apply font-normal py-1 px-2 border;
}

.btn-primary {
  @apply bg-white text-black;
}
.btn-primary:hover {
  @apply bg-grey;
}

.shadow-bottom {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1) 
}

.shadow-right {
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .1)
}

.layout-border {
  @apply border-grey-light
}

.layout-browser {
}

.navbar {
  width: 38px;
  @apply layout-border bg-white border-r shadow-right
}

.nav-btn {
  @apply pt-2 pb-1 text-center w-full text-gs-dark
}

.prop-table {
  @apply table border-collapse mx-2 my-1
}
.prop-row {
  @apply border-b table-row 
}

.prop-key {
  @apply font-bold table-cell pr-2 pt-1
}

.prop-value {
  @apply table-cell
}

.browser-component {
  /* height set via globals.js */
  @apply layout-border p-1 border-r h-full overflow-hidden
}

.browser-options {
  @apply h-full px-2 py-1
}

.browser-options-short {
  @apply layout-border border-r
}
.browser-options-short .option-text {
  display:none;
}

.browser-search-input {
  width: 35ex;
}
.browser-search-input:focus {
  outline: none;
}

svg g.addressNode {
  cursor: pointer;
}

svg g.addressNode rect{
  stroke: black;
  stroke-width: 1px;
  @apply text-grey-light fill-current
}

svg g.addressNode text {
  font-family: monospace;
}

svg g.clusterNode {
  cursor: pointer;
}

svg g.clusterNode rect{
  stroke-dasharray: 5;
  stroke: black;
  @apply text-gs-light fill-current
}

svg g.clusterNode text {
  font-family: monospace;
}

svg g.selected rect {
  stroke: red;
  stroke-width: 4px;
}

svg g.addressExpand {
  cursor: pointer;
}

svg g.addressExpand rect {
  stroke: grey;
  stroke-width: 1px;
  @apply text-grey-light fill-current
}

svg g.addressExpand:hover rect {
  @apply text-grey-lightest fill-current
}

svg g.addressExpand text {
  @apply text-grey-dark
}

svg .link {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

svg .shadow {
  @apply text-gs-dark stroke-current;
  opacity: 0.2;
  stroke-width: 20px;
  fill: none;
}

svg .shadow:hover {
  opacity: 0.8;
}

div.dataTables_wrapper {
  position: relative;
}

div.dataTables_wrapper div.dataTables_info {
  position: absolute;
  bottom: 1px;
  z-index: 100;
  background: white;
  padding-top: 0;
  padding: 4px;
  font-size: 78%;
  box-shadow: 0px 0px 1px;
  right: 20px;
  border-radius: 3px;
  transition: opacity 0.3s;
  opacity: 1;
}

div.dataTables_wrapper div.dataTables_info:hover {
  opacity: 0.2;
}

table.dataTable thead th, table.dataTable thead td {
  @apply border-grey-light  
}

table.dataTable tbody tr {
  cursor: pointer;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0;
}
