/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.btn {
  @apply font-normal py-1 px-2 border;
}

.btn-primary {
  @apply bg-white text-black;
}
.btn-primary:hover {
  @apply bg-grey;
}

.layout-border {
  @apply border-grey-light
}

.layout-browser {
}

.navbar {
  @apply layout-border bg-white border-r 
}

.nav-btn {
  @apply pt-2 pb-1 text-center w-full text-gs-dark
}

.prop-table {
  @apply table border-collapse mx-2 my-1
}
.prop-row {
  @apply border-b table-row 
}

.prop-key {
  @apply font-bold table-cell pr-2 pt-1
}

.prop-value {
  @apply table-cell
}

.browser-component {
  /* height set via globals.js */
  @apply layout-border p-1 border-r h-full
}

.browser-options-short .option-text {
  display:none;
}

.browser-search-input {
  width: 35ex;
}
.browser-search-input:focus {
  outline: none;
}

svg .addressNode rect{
  stroke: black;
  stroke-width: 1px;
  cursor: pointer;
  @apply text-grey-light fill-current
}

svg .addressNode text {
  font-family: monospace;
}

svg .clusterNode rect{
  stroke-dasharray: 5;
  stroke: black;
  cursor: pointer;
  @apply text-gs-light fill-current
}

svg .selected rect {
  stroke: red;
  stroke-width: 4px;
}

svg .link {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

div.dataTables_info {
  display: none;
}

table.dataTable thead th, table.dataTable thead td {
  @apply border-grey-light  
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0;
}
