<div class="container">
  
  {{{stats}}}
  <div class="mt-8">
    <h2>Full of Features</h2>
      <ul class="features flex flex-row flex-wrap w-full">
        <li><i class="fa fa-search"></i> <strong>Cross-currency search</strong> <div>Search by address, tag, transaction or block in several cryptocurrency ledgers.</div></li>
        <li><i class="fa fa-project-diagram"></i> <strong>Traverse transactions</strong> <div>Navigate in transaction network abstractions computed from various ledgers.</div></li>
        <li><i class="fa fa-info"></i> <strong>Inspect metadata</strong> <div>Inspect statistical properties of nodes and edges.</div></li>
        <li><i class="fa fa-code-branch"></i> <strong>Find paths</strong> <div>Automatically search for transaction paths connecting two nodes.</div></li>
        <li><i class="fa fa-terminal"></i> <strong>Programmable</strong> <div>Support for data-driven analytics via the REST API.</div></li> </li>
        <li><i class="fa fa-cube"></i> <strong>BlockSci integration</strong><div>GraphSense makes use of <a target="_blank" href="https://github.com/citp/BlockSci">BlockSci</a> for parsing blockchains, obtaining exchange rates, and filtering CoinJoins.</div></li>
        <li><i class="fa fa-tachometer-alt"></i> <strong>Future-proof</strong><div>Built on <a target="_blank" href="https://spark.apache.org/">Apache Spark</a> and <a target="_blank" href="http://cassandra.apache.org/">Cassandra</a> for horizontal scalability.</div></li>
        <li><i class="fab fa-github"></i> <strong>Open source</strong><div>The complete software stack is open souce and MIT licensed.</div></li>
    </ul>
  </div>


  <div class="mt-8">
    <h2 id="example">Example</h2>

    <p class="w-2/3 m-auto"><img src="./GraphSense_0.4.1-screenshot_detail.png" alt="screenshot"></p><p class="text-center w-full">An example Bitcoin address, its connections and statistics.</p>
  </div>



  <div class="mt-8">
    <h2 id="publications">Publications</h2>

    <div class="w-2/3 m-auto">
      <p>Some more technical details about GraphSense are described <a href="http://ceur-ws.org/Vol-1695/paper20.pdf">here</a>; please cite as:</p>

      <div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>@inproceedings{Haslhofer:2016a,
          title={O Bitcoin Where Art Thou? Insight into Large-Scale Transaction Graphs.},
          author={Haslhofer, Bernhard and Karl, Roman and Filtz, Erwin},
          booktitle={SEMANTiCS (Posters, Demos)},
          year={2016}
      }
      </code></pre></div></div>

      <p>So far, GraphSense has been used for computing statistics in the following
      scientific papers:</p>

      <p>Romiti, M., Judmayer, A., Zamyatin, A., Haslhofer, B.
      <strong>A Deep Dive into Bitcoin Mining Pools: An Empirical Analysis of Mining Shares.</strong>
      Journal of Cybersecurity, 5 (1).
      <a href="https://arxiv.org/abs/1905.05999">(pdf)</a></p>

      <p>Paquet-Clouston, M., Haslhofer, B., & Dupont, B.
      <strong>Ransomware payments in the bitcoin ecosystem.</strong>
      Journal of Cybersecurity, 5 (1).
      <a href="http://arxiv.org/abs/1804.04080">(pdf)</a></p>

      <p>Filtz, E., Polleres, A., Karl, R., Haslhofer, B.:
      <strong>Evolution of the Bitcoin Address Graph - An Exploratory Longitudinal Study.</strong>
      International Data Science Conference (DSC 2017), Salzburg, Austria, 2017.
      <a href="https://aic.ai.wu.ac.at/~polleres/publications/filtz-etal-2017IDSC.pdf">(pdf)</a></p>
    </div>

  </div>

  <div class="mt-8">
    <h2 id="contributors">Contributors</h2>

    <ul class="contributors flex flex-row justify-center w-2/3 m-auto justify-around">
      <li><img src="./bh.jpeg"/><a href="http://bernhardhaslhofer.info/">Bernhard Haslhofer</a></li>
      <li><img src="./rs.png"/>Rainer Stütz</li>
      <li><img src="./romitim.png"/><a href="https://matteoromiti.github.io/">Matteo Romiti</a></li>
      <li><img src="./mr.jpeg"/><a href="https://pi.systems">Matthias Rella</a></li>    
      <li><img src="./mb.jpeg"/>Mihai Bartha</li>    
    </ul>
  </div>
</div>
