<header class="splash">
  <div class="logo w-4/5 md:w-3/5 lg:w-2/5">
    <img alt="GRAPHSENSE" src="./logo-without-icon.svg"/>
  </div>
  <div class="tagline w-4/5 md:w-3/5 m-8 text-white text-center text-2xl lg:text-3xl">
   Cross-Ledger Cryptocurrency Analytics Platform 
  </div>
  <div class="search">
  </div>
  <svg class="slash" viewbox="0 0 1 1" preserveaspectratio="none">
    <path d="M 0 1 L 1 0, 1 1 Z"></path>
  </svg>
</header>
<section class="supported-currencies mt-6">
  <h2>Supported currencies</h2>
  <div class="container flex flex-wrap justify-center mx-auto">
    <div class="currency ltc w-full md:w-1/2 lg:w-1/3 xl:w-1/4">
      <h3>Litecoin</h3>
      <div class="statistics">
      </div>
    </div>
    <div class="currency btc w-full md:w-1/2 lg:w-1/3 xl:w-1/4">
      <h3>Bitcoin</h3>
      <div class="statistics">
      </div>
    </div>
    <div class="currency bch w-full md:w-1/2 lg:w-1/3 xl:w-1/4">
      <h3>Bitcoin&nbsp;Cash</h3>
      <div class="statistics">
      </div>
    </div>
    <div class="currency zec w-full md:w-1/2 lg:w-1/3 xl:w-1/4">
      <h3>Z-Cash</h3>
      <div class="statistics">
      </div>
    </div>
  </div>
</section>
<footer class="flex flex-row justify-between p-4 mt-6 text-sm w-full text-grey-dark splash-footer">
  <div>© graphsense.info, {{currentYear}}</div>
  <div>Version {{version}}</div>
</footer>
