<div class="splash">
  <div class="logo">
    <img alt="GRAPHSENSE" src="./logo-without-icon.svg"/>
  </div>
  <div class="tagline">
    A tool to provide insight and clarity in the cryptocurrency chaos
  </div>
  <div class="search">
  </div>
  <svg class="slash" viewbox="0 0 1 1" preserveaspectratio="none">
    <path d="M0 1, L 1 0, 1 1 Z"></path>
  </svg>
</div>
<section class="supported-currencies">
  <h2>Supported currencies</h2>
  <div class="currencies container mx-auto">
    <div class="currency ltc">
      <h3>Litecoin</h3>
      <div class="statistics">
      </div>
    </div>
    <div class="currency btc">
      <h3>Bitcoin</h3>
      <div class="statistics">
      </div>
    </div>
    <div class="currency bch">
      <h3>Bitcoin&nbsp;Cash</h3>
      <div class="statistics">
      </div>
    </div>
  </div>
</section>
