<div class="h-screen">
  <div class="absolute pin-t pin-l w-full header-height shadow-md z-22"></div>
  <header class="p-2 w-full border-b layout-border flex flex-row justify-between z-30 relative header-height bg-white">
    <div class="text-left" style="flex-grow: 2"> 
      <img class="h-full" src="./logo.svg"/>
    </div>
    <div id="layout-search" class="w-1/3 flex flex-row justify-center"></div>
    <div class="navbar w-1/3 flex flex-row items-start justify-end">
      <!--button id="navbar-config" class="nav-btn"><i class="fas fa-cog text-lg"></i></button-->
      <button id="navbar-save" class="nav-btn"><i class="fas fa-save text-lg"></i></button>
      <button id="navbar-load" class="nav-btn"><i class="fas fa-folder-open text-lg"></i></button>
    </div>
  </header>
  <section id="layout-graph" class="w-full z-20"></section>
</div>
<section id="layout-browser" class="absolute pin-l z-25 border layout-border bg-white shadow-md rounded-b"></section>
<section id="layout-config"></section>
